@media screen and (min-width:   0px) {
  * {
      margin: 0;
      padding: 0;
      outline: none;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
  }

  body {
      /*background: url(../img/b&w-scratch-texture.bmp) no-repeat center center fixed; */
      background:white;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
      background-size: cover;
      color: #eee;
      -webkit-font-smoothing: antialiased;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      height: 100%;
      text-rendering: optimizeLegibility;
  }

  p {
     font-size: 1rem;
    line-height: 25px;
  }

  a {
    color: #000;
    text-decoration: none;
  }
  a:hover {
    color: #eee;
  }

  a .open {
    color:  #d3d3d3;
  }


  #page-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 200px 200px;
    background: url(../img/bunny-white.png) no-repeat black;
  }
  #page-overlay.ng-hide {
     transition: opacity 0.4s;
    opacity:0;
  } 
  /*
  .ng-show-add {
    transition:opacity 2s;
    opacity:1;
  }*/

  #header {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    height: 180px;
  }

  #title {
    margin-top: 20px;
    align-self: center;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  #title img {
    z-index: 3;
    margin-left: 0px;
    margin-right: 0px;
    height: 100px;
    width: auto;
  }

  #title:hover {
    color: white;
    background: #000 url(../img/depth.gif) top right;
  }

#mobile-menu {
  margin-top: 0px;
  position: absolute;
  z-index: 4;
  width: 100%;
}

#mobile-menu .hamburger-menu svg{
  background: #fff;
  size: 40px;
  transform: rotate(360deg);
   -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transition: transform 1s;
  margin-top: 10px;
}

#mobile-menu.open .hamburger-menu svg{
  color: #fff;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  transition: transform 1s;
}


#mobile-menu ul {
  margin-top: 150px;
  list-style: none;
  position: center
  opacity: 1;
  z-index: 5;
  margin-left: 20px;
  pointer-events: auto;
  -webkit-transition: opacity 0s;
  -moz-transition: opacity 0s;
  transition: opacity 0.4s;
}



#mobile-menu ul li{
  z-index: 6;
  margin-top: 20px;
  position: right;

}



#mobile-menu ul li a {
  width: 100%;
  text-align: center;
  display: inline-block;
  color: #ff194f;
  text-shadow: 0 1px 2px #000;
  -moz-text-shadow: 0 1px 2px #000;
  -webkit-text-shadow: 0 1px 2px #000;
}
#mobile-menu ul li a img {
  max-height: 50px;
}

#mobile-menu ul li a:active {
  color: #000;
}

  #content { 
    transition: opacity 0.2s;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-top: -20px;
    /*min-height: 500px;*/
    overflow: none;
    height: auto;
  }
  #content.ng-hide {
    opacity: 0;
  }



  #content-loader {
    padding-top: 100px;
    opacity: 1;
    transition: opacity 0.5s;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 1000px;
    z-index: 1;
    background-size: 200px 200px;
    background: black;
    text-align: center;
  }

  #content-loader.ng-hide  {
    opacity: 0;
  }


#content-loader #pulsar{
  stroke-dasharray:281;
  -webkit-animation: dash 2.5s infinite linear forwards;
}

/*Animation*/@-webkit-keyframes dash{ from{stroke-dashoffset:814;} to {stroke-dashoffset:-814;}}
  #content a:hover {

  }

  #footer .footer-buttons {
    margin-top: 10px;
    width: 100%;
    height: auto;
    min-height: 50px;
    display: flex;
    justify-content: space-around;

  }
  
  #footer .contact-btn:hover {
    max-width: 200px;
    justify-content: center;
  }

  #footer .contact-btn:hover > p {
    width: auto;
  }

  #footer .contact-btn p {
    max-width: 100px;
    color: black;
    text-align: left;

  }

  #footer h3 {
    font-size: 10px;
    color: black;
    width: 100%;
    text-align: center;

  }
  

  /*==============  SECTIONS ====================='
*/
   .home {min-height: 800px;
    width: 100%;
    background: rgba(0,0,0, 1) url('../img/bunny-sticker.bmp') no-repeat center bottom;
    opacity:50%
  }
  .home-blerb{
    color: #ff194f;
    padding-top: 20px;
    width: 80%;
    height: auto;
    text-align: center;
    margin-left: 10%;
    padding-bottom: 0px;
    transition: 1s margin-top 0.4s, height 0.4s
  }
  .home-blerb p {
    text-shadow: 1px 1px 3px#000;
    margin-bottom: 20px;
  }

  .flexbox {
    display: flex;
    background-color: red;
    width: 500px;
    height: 200px;
  }
  #contact-page {
    padding-bottom: 30px;
    display: flex;
    flex-flow: row wrap;
  }
  .contact-details {
    margin-top: 50px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    color: white;
    width: 100%;
    background: black;
    min-width: 00px;
  }
  .contact-blerb h1 {
    width: 100%;
  }
  .contact-blerb {
    padding-left: 20px;
    width: 100%;
    color: black;
    margin-top: 50px;
    min-width: 300px;
  }

  .contact-detail {
    -webkit-transition: height 0.4s, opacity 0.4s;
    transition: height 0.4s, opacity 0.4s;
    opacity: 0;
    height: 0px;
    width: 0px;
    text-align: right;
    visibility: hidden;
  }
  .apparel {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    color: black;
  }
  .apparel .banner-img{
    height: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background: url('../img/apparel/folded-shirts.jpg') center fixed no-repeat;
    background-size: contain;
   -webkit-filter: grayscale(100%);
    filter: gray;
  }
/*  .apparel .banner-img:hover{
    -webkit-filter: none;
    filter: none;
  }*/
  .apparel h2 {
    margin-left: 10%;
    width: 80%;

  }
  .apparel img {
    position: inline-flex;
    width: 40%;
    margin: 10px;
    max-width: 150px;
    max-height: 150px;
  }
  .apparel .gallery {
    padding: 20px 20px 20px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center ;
    width: 100%;
  }
  .quad-menu {
    max-width: 300px;
    min-height: 500px;
    display: flex;
    padding-top: 20px;
    padding-bottom: 50px;
    flex-flow: row wrap;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }
  .quad-menu .item {
    margin-left: 20px;
    margin-right: 0px;
    margin-top: 20px;
    height: 100px;
    width: 300px;
    cursor: pointer; cursor: hand; 
  }
  .quad-menu .item img {
    max-height: 250px;
  }
  .item h2 {
    text-align: right;
    color: white;
    background: rgba(0,0,0,0.2);
    font-weight: bold
  }
  .item .image-bg { 
    width: auto;
    height: 100%;
  }


  #portfolio {
    padding-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 50px;
  }

  #portfolio .item {
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 65px;
    margin-right: 10px;
    margin-left: 10px;
    height: auto;
    width: auto;
    min-height: 200px;
    max-width: 400px;
    max-height: 300px;
  }
  
  #portfolio .item img {
    max-height: 300px;
    max-width: 100%;
    z-index: 0;
  }

  #portfolio .item-title {
    color: #000;
    text-align: right;
    max-width: 300px;
    margin: 0px 10px 0 10px;
  }

  #profile-bg {
    background-image: url(/img/portfolio/eye-roll.jpg);
    right:0;
  }

  .back-btn {
    position: left;
    margin-left: 10%;
    padding-top: 40px ;
    width: 50px;
    clear: right;
    cursor: pointer; cursor: hand; 

  }
  .back-btn.ng-show {
    transform: rotate(360deg);
     -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transition: transform 1s;
  }


  .single-item-view {
    align-self: center;
    width: 100%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    height: auto;
  }
  .template .title {
    color: black;
    text-align: center;
    width: 100%;
    margin-top: -50px;
    height: 50px;
  }
  .single-item-view .details {
    width: 50%;
    max-width: 500px;
    margin-left: 25%;
  }
  .single-item-view .item-img {
    width: 100%;
  }
  .single-item-view .item-img img {
    width: 100%;
    margin: 1 0px auto 0px auto;
  }

  .single-item-view .description {
    width: 90%;
    margin: 20px 5% 20px 5%;
  }

  .inner-shadow {
    -webkit-box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.32);
    box-shadow: inset 10px 10px 30px 0px rgba(0,0,0,0.32);
  }
  .drop-shadow, .hover-shadow:hover {
    -webkit-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.32);
    -moz-box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.32);
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.32);
  }




  .fade-transition {
    visibility: visible;
    transition: visibility 0.4s;
  }

  .imageslide{
  width:100%;
  margin: 0 auto;
  margin-bottom: 20px;
  position:relative;
  text-align: center;
}

.imageslide .slider-content {
  width:100%;
}
.slider-content img{
  width:100%;
}

.imageslide .ng-hide-remove, .imageslide .ng-hide-add {
  -webkit-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -moz-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -ms-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  -o-transition:1000ms cubic-bezier(.165,.84,.44,1) all;
  transition:1000ms cubic-bezier(.165,.84,.44,1) all;
}

.imageslide .ng-hide-remove {
  margin-left:-100%;
}
.animate-enter {
  left:100%;
}

.animate-enter.animate-enter-active {
  left:0; 
}

.animate-leave {
  left:0;
}

.animate-leave.animate-leave-active {
}

}