@media screen and (min-width: 650px) {
  #nav {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-around;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    height: auto;
  }
  #nav a.ng-hide {
    transform: scale(0);
  }
  #nav a {
    min-height: 50px;
    min-width: 50px;
    margin: 20px;
    transform: scale(1);
    display:flex;
    align-self: center;
    color: black;
    transition: scale 1s;
  }
  #nav a:hover {
    color: #eee;
  }

  #nav a img {

    max-height: 60px;
    margin-top: -20px;
    /*background: black;*/
  }
  
  #nav .active {
    color: #eee;
  }
 
  .home-blerb {
    padding-top: 70px;
    width: 50%;
    max-width: 1000px;
    margin-left: 25%;
    text-align: center;
  }

  .apparel .banner-img {
    margin-top: 40px;
  }
  .apparel h2 {
    text-align: center;
  }
   .apparel img {
    max-height: 300px;
    max-width: 290px;
   }
   .quad-menu {
    padding-top: 50px;
    max-width: 550px;
   }
  .quad-menu .item {
    height: 250px;
    width: 250px;
  }

   .portfolio {
    margin-left: 10% ;
    width: 80%
  }
  #portfolio .item a p {
     -webkit-transition: height 0.4s, opacity 0.4s;
    transition: height 0.4s, opacity 0.4s; 
    opacity: 0;
    height: 0px;
    padding-left: 10px;
    margin-bottom: 20px;
    width:  300px;
    text-align: left;
    visibility: hidden;
  }
  #portfolio .item a:hover > .title{
    color: black;
    margin-top: -50px;
    height: 50px;
    opacity: 1;
    visibility: visible;
  }

  #contact-page {
    padding-top: 50px;
  }
  .contact-details {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 30%;
    flex-flow: column;
    align-items: flex-end;
    justify-content: space-between;
  }
  .contact-btn {
    display: flex;
    flex-flow: column;
    align-content: flex-end;
    cursor: pointer; cursor: hand; 
  }
  .contact-btn svg {
    align-self: flex-end;
  }
  .contact-btn:hover > .contact-detail{
    height: 30px;
    opacity: 1;
    width: 200px;
    visibility: visible;
  }
  .contact-blerb {
    margin-top: 50px;
    width: 60%;
  }

  .hover-enlarge {

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
  }

  .hover-enlarge:hover {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
  }
  .hover-enlarge .large-scale:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
    -moz-transition: -moz-transform 0.2s, opacity 0.2s;
    transition: transform 0.2s, opacity 0.2s;
  }
  .hover-color {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
  }

  .hover-color:hover {
    filter: none;
    -webkit-filter: grayscale(0);
  }
}
@media screen and (min-width: 1200px) {

  .home-blerb {
    padding-top: 50px;
  }

  .apparel .banner-img {
    max-width: 1000px;
  }

}