<div class="single-item-view {{transitionState}}">
		<div ng-click="viewSection(selectedSection)" class="back-btn">
		  	<svg style="width:24px;height:24px" viewBox="0 0 24 24">
			    <path fill="#000000" d="M21,11H6.83L10.41,7.41L9,6L3,12L9,18L10.41,16.58L6.83,13H21V11Z" />
			</svg>
		</div>
		<div class="details">
		  	<h2 class="title">{{selectedItem.title}}</h2>
		  	<p>Medium: {{selectedItem.med}}</p>
			<p>{{selectedItem.desc}}</p>
		</div>
		<div ng-controller="slideShowController" class="imageslide" ng-animate="animate" ng-switch on="'imageslide'">
		    <div ng-repeat="url in selectedItem.imgs track by $index" class="slider-content" ng-animate="'animate'"ng-switch-when="$index">
		        <img src="{{url}}"/>
		    </div>
		   
    	</div>
</div>